<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Netflix</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/user/main.css">
    <link rel="stylesheet" href="../../resources/css/slider.css"> 
    <link rel="stylesheet" href="../../resources/css/test.css"> 
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../../resources/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../resources/js/movie.js"></script>
</head>

<body>
    <header id="header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="#"><img class="logo" src="../../resources/images/logo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="">TV Shows</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Movies</a></li>
                    <li class="nav-item"><a class="nav-link" href="">New & Popular</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Review</a></li>
                    <li class="nav-item"><a class="nav-link" href="">My Page</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="visualFrame">
        <div class="contents">
            <img class="image-layer" src="../../resources/images/mainPoster.jfif" alt="SpiderMan">
            <div class="vignette-layer"></div>
            <div class="info">
                <div class="logo-and-text">
                    <div class="title-wrapper mb-sm-4">
                        <img alt="Men On A Mission" class="title-logo" src="../../resources/images/main.png" title="Men On A Mission">
                    </div>
                    <div class="info-wrapper pb-sm-4">
                        <div class="synopsis"> Male celebs play make-believe as high schoolers, welcoming star transfer students every week and engaging in battles of witty humor and slapstick. </div>
                    </div>
                    <div class="button-layer">
                        <a data-uia="play-button" role="link" aria-label="Play" class="playLink" href="/watch/81414458?trackId=254015180&amp;tctx=0%2C0%2C84f33d78-3678-4daf-a667-8b661b78830d-726360064%2Ce94e816b-bba8-4a68-87b2-dbd9fd97ae33_524920419X20XX1641301743595%2Ce94e816b-bba8-4a68-87b2-dbd9fd97ae33_ROOT%2C%2C%2C">
                            <button class="btn btn-light btn-xlg d-flex align-items-center hasLabel hasIcon" type="button">
                                <img src="../../resources/images/play.svg" alt="play">
                                <span>Play</span>
                            </button>
                        </a>
                        <!-- <button class="color-secondary hasLabel hasIcon" data-uia="billboard-more-info" type="button">
                            <img src="../../resources/images/info.svg" alt="info">
                            <span>More Info</span>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>
    
    <section class="thumbSection">
            <h2 class="thumbTitle">코미디</h2>
            <div class="thumbTiles swiper-container">
                
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/cmovie1.jpg"
                                alt="The Queen's Gambit">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/cmovie2.jpg"
                                alt="Dark">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie5.jpg"
                                alt="Suits">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/cmovie4.jpg"
                                alt="Breaking Bad">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/cmovie5.jpg"
                                alt="The Crown">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/cmovie6.jpg"
                                alt="The Crown">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/cmovie7.jpg"
                                alt="The Crown">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/cmovie8.jpg"
                                alt="The Crown">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                </div>

                
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
 
        <section class="thumbSection">
            <h2 class="thumbTitle">액션</h2>
            <div class="thumbTiles swiper-container">
                
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie1.jpg"
                                alt="The Queen's Gambit">
                        </a>
                        <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie2.jpg"
                                alt="Dark">
                        </a>
                        <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie3.jpg"
                                alt="Suits">
                        </a>
                        <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie4.jpg"
                                alt="Breaking Bad">
                        </a>
                        <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie5.jpg"
                                alt="The Crown">
                        </a>
                        <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie6.jpg"
                                alt="The Crown">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie7.jpg"
                                alt="The Crown">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="thumbTile" href="#">
                            <img class="thumbTile__image"
                                src="../../resources/images/amovie8.jpg"
                                alt="The Crown">
                            <span class="item-load-icon button opacity-none"><i class="fa fa-play"></i></span>
                        </a>
                    </div>
                    
                </div>

                
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
   

    <footer id="footer">
        <div class="copyright">
            <div class="copy-text">
                <div class="copy-text-block">Netflix Services Korea Ltd. E-Commerce Registration Number: Je 2018-Seoul Jong-ro-0426 Ho. Phone: 080-001-9588</div>
                <div class="copy-text-block">Representative: Reginald Shawn Thompson</div>
                <div class="copy-text-block">Email: korea@netflix.com</div>
                <div class="copy-text-block">Address: 20F, Tower A, Centropolis Building 26, Ujeongguk-ro, Jongno-gu, Seoul, 03161 Republic of Korea</div>
                <div class="copy-text-block">Business registration number: 165-87-00119</div>
                <div class="copy-text-block">Hosted by: Amazon Web Services Inc.</div>
                <div class="copy-text-block">
                    <a href="http://www.ftc.go.kr/www/bizCommView.do?key=232&amp;apv_perm_no=2018300016930200431&amp;pageUnit=10&amp;searchCnd=bup_nm&amp;searchKrwd=%EB%84%B7%ED%94%8C%EB%A6%AD%EC%8A%A4&amp;pageIndex=1">KFTC website</a>
                </div>
            </div>
        </div>
    </footer>
    
     <script>
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            spaceBetween: 5,
            slidesPerView: 2,
            loop: true,
            freeMode: true,
            loopAdditionalSlides: 5,
            speed: 500,
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 640px
                640: {
                    slidesPerView: 5,
                    slidesPerGroup: 5,
                    freeMode: false
                }
            }
        })
    </script>
</body>

</html>