<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review - Netflix</title>
    <link rel="stylesheet" href="http//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/user/sub.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
                ordering: false,
                lengthChange: false
            });
        } );
    </script>
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="#"><img class="logo" src="../../resources/images/Netflix_logo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="">TV Shows</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Movies</a></li>
                    <li class="nav-item"><a class="nav-link" href="">New & Popular</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Review</a></li>
                    <li class="nav-item"><a class="nav-link" href="">My Page</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main">
        <section>
            <div class="titleWrap mb-5">
                <h2 class="pageTitle pb-3">게시판</h2>
            </div>
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>영화</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <td>[영화이름입니다]</td>
                        <td>리뷰제목입니다.</td>
                        <td>userId</td>
                        <td>date</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <footer id="footer">
        <div class="copyright">
            <div class="copy-text">
                <div class="copy-text-block">Netflix Services Korea Ltd. E-Commerce Registration Number: Je 2018-Seoul Jong-ro-0426 Ho. Phone: 080-001-9588</div>
                <div class="copy-text-block">Representative: Reginald Shawn Thompson</div>
                <div class="copy-text-block">Email: korea@netflix.com</div>
                <div class="copy-text-block">Address: 20F, Tower A, Centropolis Building 26, Ujeongguk-ro, Jongno-gu, Seoul, 03161 Republic of Korea</div>
                <div class="copy-text-block">Business registration number: 165-87-00119</div>
                <div class="copy-text-block">Hosted by: Amazon Web Services Inc.</div>
                <div class="copy-text-block">
                    <a href="http://www.ftc.go.kr/www/bizCommView.do?key=232&amp;apv_perm_no=2018300016930200431&amp;pageUnit=10&amp;searchCnd=bup_nm&amp;searchKrwd=%EB%84%B7%ED%94%8C%EB%A6%AD%EC%8A%A4&amp;pageIndex=1">KFTC website</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>